.container-sec1 {
    background-color: #b8626200;
    margin-top: -57px;
    height: 100%;
    text-align: center;
}
.videoSec1 {
    position: absolute;
    z-index: -1000;
    width: 100%;
}
.videoSec1-fixed {
    position: fixed;
    z-index: -1001
}
.container-sec1 > div > h1,
p,
h2,
h3,
button {
    color: white;
}
.icone-sec1 {
    animation: baixo-cima 6s;
    margin-right: 10px;
    width: 16%;
}
.btn-eu-quero {
    transition: 5s, 5s;
    padding: 10px;
    background-color: #849e1d;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 78%;
}
.img-sec1 {
    animation: fadein 10s;
    margin-top: -82px;
}
.btn-eu-quero:hover {
    transition: 5s, 5s;
    box-shadow: 1px 7px 900px 7px white;
    background-color: white;
    color: black;
}

@media only screen and (max-width: 769.98px) {
    .container-sec1 {
        text-align: center;
        background: #0b0a3300;
        margin-top: 67px;
        height: 100%;
    }
    .container-sec1 > div > h1 {
        font-size: 2em;
    }
}
@media only screen and (max-width: 1000px) {
    .container-sec1 {
        background: #0b0a3300;
        margin-top: 100px;
        height: 100%;
    }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

@keyframes baixo-cima {
0% {
transform: translateY(1000px);
}
100% {
transform: translateY(0px);
}
}
